<div class="jumbotron">
  <p class="lead">
  <form name="myForm" role="form" ng-submit="createURL()" novalidate>
   <fieldset class="form-group">
        <label >Create a short URL in a few seconds!</label>
        <input type="url" name="longURL" ng-model="longURL" placeholder="Enter your URL here" class="form-control" ng-maxlength="200" required http-prefix>
        <label><input type="checkbox" ng-model="checkCustom" value=""><small>  I want a custom alias (optional)</small></label>
        <div class="input-group" ng-show="checkCustom">
          <span class="input-group-addon " id="basic-addon1"><strong>http://shortify.com/</strong></span>
          <input type="text" class="form-control" name="customURL" ng-model="customURL" ng-show="checkCustom" placeholder="Enter your custom text here" ng-minlength="3" ng-maxlength="30">
        </div>
   </fieldset>
      <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-ok"></span> Shortify!</button>
  </form>
  </p>
  <p class = "lead">

  <!-- INPUT ERRORS -->
  <div class="alert alert-danger"  ng-show="myForm.longURL.$error.required && myForm.$submitted"><span><strong>Error: Please enter your URL</strong></span></div>
  <div class="alert alert-danger"  ng-show="myForm.longURL.$error.maxlength && myForm.$submitted"><span><strong>Error: URL max length is 200</strong></span></div>
  <div class="alert alert-danger"  ng-show="myForm.longURL.$error.url && myForm.$submitted"><span><strong>Error: URL is not valid</strong></span></div>
  <div class="alert alert-danger"  ng-show="(myForm.customURL.$error.maxlength || myForm.customURL.$error.minlength) && myForm.$submitted"><span><strong>Error: Custom alias length must be between 3 and 30 chars</strong></span></div>

  <!-- SERVER RESPONSE -->
  <div class="alert alert-success"  ng-show="showSuccess"><span><strong>Your short URL:<br><a href="{{successMessage}}">{{successMessage}}</a></strong>
 <br><br> <i>To show preview and statistics use <a href="{{successMessage}}+">{{successMessage}}+</a></i></span></div>
  <div class="alert alert-danger"  ng-show="showAlerts"><span><strong>Oops, something is wrong:<br>{{alertMessage}}</strong></span></div>
  </p>
</div>

<div class="jumbotron">
  <p class="lead">
  <form name="myForm2" novalidate>
    <fieldset class="form-group">
      <label >Get preview and statistics from a Shortify URL</label>
      <input type="url" class="form-control" name="statsURL" ng-model="statsURL" placeholder="Enter your URL here" ng-model-options="{ updateOn: 'blur' }">
      <div class="alert alert-danger" ng-show="myForm.longURL.$error.url"><strong>Error! </strong>This is not a valid URL.</div>
    </fieldset>
    <button type="submit" class="btn btn-lg btn-primary "><span class="glyphicon glyphicon-ok"></span> Go!</button>
  </form>
  </p>
</div>
<div>{{browserdata}}</div>


